<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<title>FlightDeck - Your Ultimate Flight Companion</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<!-- Nucleo Icons -->
	<link href="/stylesheets/nucleo-icons.css" rel="stylesheet" />
	<link href="/stylesheets/nucleo-svg.css" rel="stylesheet" />
	<!-- Template Styling -->
	<link href="/stylesheets/soft-ui-dashboard-tailwind.css?v=1.0.5" rel="stylesheet" />
	<link href="/stylesheets/style.css" rel="stylesheet" />

	<script src="https://cdn.tailwindcss.com"></script>

	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
</head>

<body class="m-0 font-sans antialiased font-normal bg-white text-start text-base leading-default text-slate-500">
	<!-- Header with Main Menu -->
	<header class="bg-white shadow-lg">
		<div class="container mx-auto flex justify-between items-center p-4">
			<a href="#" class="text-2xl font-bold text-blue-600">FlightDeck</a>
			<div class="flex space-x-4">
				<nav class="hidden md:flex space-x-8 items-center">
					<a href="#features" class="text-gray-700 hover:text-blue-600">Features</a>
					<a href="#about" class="text-gray-700 hover:text-blue-600">About</a>
					<a href="#contact" class="text-gray-700 hover:text-blue-600">Contact</a>
				</nav>
				{{#if user}}
					<p>Welcome back, {{user.name}}.</p>
					<a href="/logout"
						class="px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro text-xs bg-gradient-to-tl from-blue-600 to-cyan-400 hover:shadow-soft-2xl hover:scale-102">
						Logout</a>
				{{else}}
				<a href="/login"
						class="px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro text-xs bg-gradient-to-tl from-blue-600 to-cyan-400 hover:shadow-soft-2xl hover:scale-102">
						Login</a>
					<a href="/sign-up"
						class="px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro text-xs bg-gradient-to-tl from-blue-600 to-cyan-400 hover:shadow-soft-2xl hover:scale-102">
						Sign up</a>
				{{/if}}
			</div>
			<!-- Mobile Menu Button -->
			<div class="md:hidden flex items-center">
				<button id="mobile-menu-button" class="text-gray-700 focus:outline-none">
					<i class="fa fa-bars fa-2x"></i>
				</button>
			</div>
		</div>
		<!-- Mobile Menu -->
		{{!-- <div id="mobile-menu" class="hidden md:hidden">
			<a href="#features" class="block px-4 py-2 text-gray-700 hover:bg-blue-100">Features</a>
			<a href="#about" class="block px-4 py-2 text-gray-700 hover:bg-blue-100">About</a>
			<a href="#contact" class="block px-4 py-2 text-gray-700 hover:bg-blue-100">Contact</a>
			<a href="/login" class="block px-4 py-2 text-gray-700 hover:bg-blue-100">Login</a>
			<a href="/signup" class="block px-4 py-2 text-gray-700 hover:bg-blue-100">Sign Up</a>
		</div> --}}
	</header>
	<main class="mt-0 transition-all duration-200 ease-soft-in-out">
		{{{body}}}
	</main>

	<footer class="py-4 bg-gradient-to-tl from-purple-700 to-pink-500">
		<div class="container">
			<div class="flex flex-wrap -mx-3">
				<div class="w-full max-w-full px-3 mx-auto text-center">
					<p class="mb-0 text-white text-xs">
						Copyright ©
						<script>
							document.write(new Date().getFullYear());
						</script>
						FlightDeck
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>

<script src="./assets/js/plugins/perfect-scrollbar.min.js" async></script>
<script src="./assets/js/soft-ui-dashboard-tailwind.js?v=1.0.5" async></script>

</html>