<div class="relative bg-cover bg-center bg-no-repeat py-8 hero">
  <div
    class="absolute inset-0 z-20 bg-cover bg-center bg-no-repeat bg-gradient"
  >
  </div>

  <div
    class="container relative z-30 pt-20 pb-12 sm:pt-56 sm:pb-48 lg:pt-64 lg:pb-48"
  >
    <div class="flex flex-col items-center justify-center lg:flex-row">
      <div class="rounded-full border-8 border-primary shadow-xl">
        <img
          src="img/author.jpg"
          class="h-48 rounded-full sm:h-56"
          alt="author"
        />
      </div>
      <div class="pt-8 sm:pt-10 lg:pl-8 lg:pt-0">
        <h1
          class="text-center font-header text-4xl text-white sm:text-left sm:text-5xl md:text-6xl"
        >
          Hello I'm Basil!
        </h1>
        <div
          class="flex flex-col justify-center pt-3 sm:flex-row sm:pt-5 lg:justify-start"
        >
          <div
            class="flex items-center justify-center pl-0 sm:justify-start md:pl-1"
          >
            <p class="font-body text-lg uppercase text-white">Let's connect</p>
            <div class="hidden sm:block">
              <i class="bx bx-chevron-right text-3xl text-yellow-400"></i>
            </div>
          </div>
          <div
            class="flex items-center justify-center pt-5 pl-2 sm:justify-start sm:pt-0"
          >

            <a href="/contact" class="pl-4">
              <i
                class="bx bxs-envelope-open text-2xl text-white hover:text-yellow-400"
              ></i>
            </a>
            <a href="https://www.linkedin.com/in/basilbarnaby/"  target="_blank" class="pl-4">
              <i
                class="bx bxl-linkedin text-2xl text-white hover:text-yellow-400"
              ></i>
            </a>
            <a href="https://github.com/BasilBarnabyCa" target="_blank" class="pl-4">
              <i
                class="bx bxl-github text-2xl text-white hover:text-yellow-400"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-slate-100 flex justify-center">
  <div class="container flex flex-col items-center py-16 md:py-20 lg:flex-row">
    <div class="w-full text-center sm:w-3/4 lg:w-3/5 lg:text-left">
      <h2
        class="font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
      >
        Who am I?
      </h2>
      <h4
        class="pt-6 font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl"
      >
        I'm Basil Barnaby, a Software Developer & AI and Data Enthusiast
      </h4>
      <p class="pt-6 font-body leading-relaxed text-grey-20">
        I'm Basil Barnaby, a versatile and experienced Software Developer & AI
        and Data enthusiast with a rich background in software and hardware
        troubleshooting, as well as web development. Over the years, I have
        honed my skills in various programming languages, including Java, PHP,
        Python, and more, alongside frameworks like Laravel and Vue.js. My
        professional journey includes significant roles such as a Junior PHP
        Developer at BRMity and an Engineer in Field Operations at Société
        International De Télécommunications Aeronautiques (SITA). I excel in
        creating user-friendly interfaces, developing robust backend solutions,
        and ensuring exceptional customer satisfaction. Let's connect and create
        innovative solutions together!
      </p>
      <div
        class="flex flex-col justify-center pt-6 sm:flex-row lg:justify-start"
      >
        <div class="flex items-center justify-center sm:justify-start">
          <p class="font-body text-lg font-semibold uppercase text-grey-20">
            Connect with me
          </p>
          <div class="hidden sm:block">
            <i class="bx bx-chevron-right text-2xl text-primary"></i>
          </div>
        </div>
        <div
          class="flex items-center justify-center pt-5 pl-2 sm:justify-start sm:pt-0"
        >
          <a href="/contact">
            <i
              class="bx bxs-envelope-open text-2xl text-primary hover:text-yellow-400"
            ></i>
          </a>
          <a href="https://www.linkedin.com/in/basilbarnaby/"  target="_blank" class="pl-4">
            <i
              class="bx bxl-linkedin text-2xl text-primary hover:text-yellow-400"
            ></i>
          </a>
          <a href="https://github.com/BasilBarnabyCa" target="_blank" class="pl-4">
            <i
              class="bx bxl-github text-2xl text-primary hover:text-yellow-400"
            ></i>
          </a>
        </div>
      </div>
    </div>
    <div class="w-full pl-0 pt-10 sm:w-3/4 lg:w-2/5 lg:pl-12 lg:pt-0">
      <div>
        <div class="flex items-end justify-between">
          <h4 class="font-body font-semibold uppercase text-black">
            PHP, HTML, CSS & Javascript
          </h4>
          <h3 class="font-body text-3xl font-bold text-primary">98%</h3>
        </div>
        <div class="mt-2 h-3 w-full rounded-full bg-lila">
          <div class="h-3 rounded-full brand-bg" style="width: 98%"></div>
        </div>
      </div>
      <div class="pt-6">
        <div class="flex items-end justify-between">
          <h4 class="font-body font-semibold uppercase text-black">Java</h4>
          <h3 class="font-body text-3xl font-bold text-primary">70%</h3>
        </div>
        <div class="mt-2 h-3 w-full rounded-full bg-lila">
          <div class="h-3 rounded-full brand-bg" style="width: 70%"></div>
        </div>
      </div>
      <div class="pt-6">
        <div class="flex items-end justify-between">
          <h4 class="font-body font-semibold uppercase text-black">
            Python
          </h4>
          <h3 class="font-body text-3xl font-bold text-primary">90%</h3>
        </div>
        <div class="mt-2 h-3 w-full rounded-full bg-lila">
          <div class="h-3 rounded-full brand-bg" style="width: 98%"></div>
        </div>
      </div>
      <div class="pt-6">
        <div class="flex items-end justify-between">
          <h4 class="font-body font-semibold uppercase text-black">C#</h4>
          <h3 class="font-body text-3xl font-bold text-primary">85%</h3>
        </div>
        <div class="mt-2 h-3 w-full rounded-full bg-lila">
          <div class="h-3 rounded-full brand-bg" style="width: 80%"></div>
        </div>
      </div>
    </div>
  </div>
</div>