<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"/>
  </head>
  <body>
    {{{body}}}
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>