<div class="container py-16 md:py-20 mx-auto" id="portfolio">
  <h2
    class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
  >
    Check out my Portfolio
  </h2>
  <h3
    class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl"
  >
    Here's what I have done with the past
  </h3>

  <div
    class="mx-auto grid w-full grid-cols-1 gap-8 pt-12 sm:w-3/4 md:gap-10 lg:w-full lg:grid-cols-2"
  >
    <a
      href="/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="/assets/img/portfolio-apple.jpeg"
        class="w-full shadow"
        alt="CPMS"
      />
    </a>
    <a
      href="/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="/assets/img/portfolio-stripe.jpeg"
        class="w-full shadow"
        alt="SVREL Website"
      />
    </a>
    <a
      href="/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="/assets/img/portfolio-fedex.jpeg"
        class="w-full shadow"
        alt="MBET"
      />
    </a>
    <a
      href="/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="/assets/img/portfolio-fedex.jpeg"
        class="w-full shadow"
        alt="GEOBET"
      />
    </a>
    <a
      href="/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="/assets/img/portfolio-microsoft.jpeg"
        class="w-full shadow"
        alt="SitaMate"
      />
    </a>
    <a
      href="/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="/assets/img/portfolio-microsoft.jpeg"
        class="w-full shadow"
        alt="Banner Ultra 2.0"
      />
    </a>
    <a
      href="/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="/assets/img/portfolio-microsoft.jpeg"
        class="w-full shadow"
        alt="Cosmos"
      />
    </a>
    <a
      href="/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="/assets/img/portfolio-microsoft.jpeg"
        class="w-full shadow"
        alt="BRMity"
      />
    </a>
  </div>
</div>

<div class="bg-slate-50 mx-auto" id="clients">
  <div class="container py-16 md:py-20 mx-auto">
    <div class="mx-auto w-full sm:w-3/4 lg:w-full">
      <h2
        class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
      >
        My latest clients
      </h2>
      <div class="flex flex-wrap items-center justify-center pt-4 sm:pt-4">
        <span class="m-8 block">
          <img
            src="/assets/img/logo-coca-cola.svg"
            alt="SVREL"
            class="mx-auto block h-12 w-auto"
          />
        </span>
        <span class="m-8 block">
          <img
            src="/assets/img/logo-apple.svg"
            alt="SITA"
            class="mx-auto block h-12 w-auto"
          />
        </span>

        <span class="m-8 block">
          <img
            src="/assets/img/logo-netflix.svg"
            alt="KIN"
            class="mx-auto block h-12 w-auto"
          />
        </span>

        <span class="m-8 block">
          <img
            src="/assets/img/logo-amazon.svg"
            alt="MBJ"
            class="mx-auto block h-12 w-auto"
          />
        </span>

        <span class="m-8 block">
          <img
            src="/assets/img/logo-stripe.svg"
            alt="MIA"
            class="mx-auto block h-12 w-auto"
          />
        </span>

        <span class="m-8 block">
          <img
            src="/assets/img/logo-stripe.svg"
            alt="BRMity"
            class="mx-auto block h-12 w-auto"
          />
        </span>
      </div>
    </div>
  </div>
</div>

<div class="w-full flex justify-center">
  <div class="container py-16 md:py-20" id="services">
    <h2
      class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
    >
      Here's what I'm good at
    </h2>
    <h3
      class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl"
    >
      These are the services I offer
    </h3>

    <div
      class="grid grid-cols-1 gap-6 pt-10 sm:grid-cols-2 md:gap-10 md:pt-12 lg:grid-cols-3"
    >
      <div class="group rounded px-8 py-12 shadow hover:bg-brand">
        <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
          <div class="hidden group-hover:block">
            <img src="img/icon-development-white.svg" alt="development icon" />
          </div>
          <div class="block group-hover:hidden">
            <img src="img/icon-development-black.svg" alt="development icon" />
          </div>
        </div>
        <div class="text-center">
          <h3
            class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow-400 lg:text-xl"
          >
            SOFTWARE DEVELOPMENT
          </h3>
          <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
            Building robust and scalable software solutions.
          </p>
        </div>
      </div>
      <div class="group rounded px-8 py-12 shadow hover:bg-brand">
        <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
          <div class="hidden group-hover:block">
            <img
              src="img/icon-mobile-white.svg"
              alt="Mobile Application icon"
            />
          </div>
          <div class="block group-hover:hidden">
            <img
              src="img/icon-mobile-black.svg"
              alt="Mobile Application icon"
            />
          </div>
        </div>
        <div class="text-center">
          <h3
            class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow-400 lg:text-xl"
          >
            Mobile Development
          </h3>
          <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
            Creating intuitive and powerful mobile applications.
          </p>
        </div>
      </div>
      <div class="group rounded px-8 py-12 shadow hover:bg-brand">
        <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
          <div class="hidden group-hover:block">
            <img
              src="img/icon-content-white.svg"
              alt="content marketing icon"
            />
          </div>
          <div class="block group-hover:hidden">
            <img
              src="img/icon-content-black.svg"
              alt="content marketing icon"
            />
          </div>
        </div>
        <div class="text-center">
          <h3
            class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow-400 lg:text-xl"
          >
            Web Development
          </h3>
          <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
            Designing and developing engaging websites.
          </p>
        </div>
      </div>
      <div class="group rounded px-8 py-12 shadow hover:bg-brand">
        <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
          <div class="hidden group-hover:block">
            <img
              src="img/icon-content-white.svg"
              alt="content marketing icon"
            />
          </div>
          <div class="block group-hover:hidden">
            <img
              src="img/icon-content-black.svg"
              alt="content marketing icon"
            />
          </div>
        </div>
        <div class="text-center">
          <h3
            class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow-400 lg:text-xl"
          >
            Data Services
          </h3>
          <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
            Transforming data into actionable insights.
          </p>
        </div>
      </div>
      <div class="group rounded px-8 py-12 shadow hover:bg-brand">
        <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
          <div class="hidden group-hover:block">
            <img src="img/icon-graphics-white.svg" alt="Graphic Design icon" />
          </div>
          <div class="block group-hover:hidden">
            <img src="img/icon-graphics-black.svg" alt="Graphic Design icon" />
          </div>
        </div>
        <div class="text-center">
          <h3
            class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow-400 lg:text-xl"
          >
            Machine Learning
          </h3>
          <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
            Implementing smart algorithms for data analysis.
          </p>
        </div>
      </div>
      <div class="group rounded px-8 py-12 shadow hover:bg-brand">
        <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
          <div class="hidden group-hover:block">
            <img src="img/icon-design-white.svg" alt="Theme Design icon" />
          </div>
          <div class="block group-hover:hidden">
            <img src="img/icon-design-black.svg" alt="Theme Design icon" />
          </div>
        </div>
        <div class="text-center">
          <h3
            class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow-400 lg:text-xl"
          >
            Web Design
          </h3>
          <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
            Crafting visually appealing and user-friendly designs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>