<div class="container py-16 md:py-20 mx-auto" id="project-details">
  <h2
    class="text-center font-header text-xl font-semibold uppercase text-primary sm:text-3xl lg:text-4xl"
  >
    BRMity
  </h2>
  <p class="text-center pt-6 font-medium text-black sm:text-lg lg:text-xl">
    BRMity offers Business Relationship Management solutions for your entire
    business. Business relationship management consists of knowledge, skills,
    and behaviors (or competencies) that foster a productive relationship
    between a service organization and their business partners.
  </p>
  <p class="text-center pt-6 font-medium text-black sm:text-lg lg:text-xl">
    As a Junior PHP Web Developer intern at BRMity, I played a key role in
    full-stack web development, focusing on enhancing existing applications and
    creating new features for orthotic solutions. My work spanned across various
    sectors within the orthopedics health domain, including clinics, pharmacies,
    and factories.
  </p>
  <div class="text-center mt-8">
    <a
      href="https://brmity.com/"
      class="inline-block rounded bg-primary px-8 py-3 font-header text-lg font-bold uppercase text-white hover:bg-purple-900 transition-all"
      target="_blank"
    >
      View Live Project
    </a>
  </div>

  <div class="relative mx-auto mt-12 flex w-full flex-col lg:w-2/3">
    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-1/2 p-4">
        <a href="/img/brmity-cover.png" target="_blank">
          <img
            src="/img/brmity-cover.png"
            class="w-full h-80 object-cover shadow-lg rounded-lg transform transition-all hover:scale-105 cursor-pointer"
            alt="BRMity Homepage Screenshot"
          />
        </a>
      </div>
      <div class="md:w-1/2 p-4">
        <h3 class="font-header text-xl font-bold uppercase text-primary">
          Orthopedic Solutions Development
        </h3>
        <p class="mt-2 font-body text-black">
          My development work at BRMity involved creating and enhancing software
          solutions tailored for the orthopedics health domain. This included
          developing applications for clinics to manage patient records,
          pharmacies to streamline inventory management, and factories to
          optimize production processes. The solutions were designed to improve
          efficiency, accuracy, and overall patient care in the orthopedics
          field.
        </p>
      </div>
    </div>
  </div>
</div>