<div class="container py-16 md:py-20 mx-auto" id="project-details">
  <h2
    class="text-center font-header text-xl font-semibold uppercase text-primary sm:text-3xl lg:text-4xl"
  >
    Cosmos Game Streaming Service
  </h2>
  <p class="text-center pt-6 font-medium text-black sm:text-lg lg:text-xl">
    Cosmos Game Streaming Service offers a seamless gaming experience similar to
    NVIDIA's game streaming service. It provides a vast library of games, high
    performance, and exclusive early access to new titles. Users can enjoy
    gaming without the need for high-end hardware.
  </p>

  <div class="text-center mt-8">
    <a
      href="https://github.com/BasilBarnabyCa/f23-comp-2084-final-project-cosmos"
      class="inline-block rounded bg-primary px-8 py-3 font-header text-lg font-bold uppercase text-white hover:bg-purple-900 transition-all"
      target="_blank"
    >
      View Source Code
    </a>
  </div>

  <div class="relative mx-auto mt-12 flex w-full flex-col lg:w-2/3">
    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-1/2 p-4">
        <a href="/img/cosmos-cover.png" target="_blank">
          <img
            src="/img/cosmos-cover.png"
            class="w-full h-80 object-cover shadow-lg rounded-lg transform transition-all hover:scale-105 cursor-pointer"
            alt="Homepage Screenshot"
          />
        </a>
      </div>
      <div class="md:w-1/2 p-4">
        <h3 class="font-header text-xl font-bold uppercase text-primary">
          Homepage
        </h3>
        <p class="mt-2 font-body text-black">
          The Cosmos homepage introduces users to the service, highlighting its
          key features such as a wide range of games, high performance,
          exclusive early access, and a free trial. It invites users to explore
          the infinite universe of gaming.
        </p>
      </div>
    </div>
    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-1/2 p-4">
        <a href="/img/cosmos-2.png" target="_blank">
          <img
            src="/img/cosmos-2.png"
            class="w-full h-80 object-cover shadow-lg rounded-lg transform transition-all hover:scale-105 cursor-pointer"
            alt="Games Library Screenshot"
          />
        </a>
      </div>
      <div class="md:w-1/2 p-4">
        <h3 class="font-header text-xl font-bold uppercase text-primary">
          Games Library
        </h3>
        <p class="mt-2 font-body text-black">
          The games library showcases the diverse selection of games available
          on the platform. Users can filter games based on subscription tiers,
          genres, and game modes, making it easy to find and enjoy their
          favorite titles.
        </p>
      </div>
    </div>
    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-1/2 p-4">
        <a href="/img/cosmos-3.png" target="_blank">
          <img
            src="/img/cosmos-3.png"
            class="w-full h-80 object-cover shadow-lg rounded-lg transform transition-all hover:scale-105 cursor-pointer"
            alt="Admin Dashboard Screenshot"
          />
        </a>
      </div>
      <div class="md:w-1/2 p-4">
        <h3 class="font-header text-xl font-bold uppercase text-primary">
          Admin Dashboard
        </h3>
        <p class="mt-2 font-body text-black">
          The admin dashboard provides an interface for managing the games on
          the platform. It includes features for adding new games, updating
          existing ones, and managing genres, modes, subscriptions, developers,
          and publishers.
        </p>
      </div>
    </div>
  </div>
</div>