<div class="container py-16 md:py-20 mx-auto" id="portfolio">
	<h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
		Check out my Projects
	</h2>
	<h3 class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
		Here's what I have done in the past
	</h3>

	<div class="mx-auto grid w-full grid-cols-1 gap-8 pt-12 sm:w-3/4 md:gap-10 lg:w-full lg:grid-cols-2">
		<a href="/projects/cpms" class="mx-auto transform transition-all hover:scale-105 md:mx-0">
			<img src="img/cpms-cover.png" class="w-full shadow-lg rounded-lg" alt="CPMS" />
		</a>
		<a href="/projects/svrel" class="mx-auto transform transition-all hover:scale-105 md:mx-0">
			<img src="img/svrel-cover.png" class="w-full shadow-lg rounded-lg" alt="SVREL Website" />
		</a>
		<a href="/projects/mbet-topup" class="mx-auto transform transition-all hover:scale-105 md:mx-0">
			<img src="img/mbet-cover.png" class="w-full shadow-lg rounded-lg" alt="MBET" />
		</a>
		<a href="/projects/geobet-analysis-tool" class="mx-auto transform transition-all hover:scale-105 md:mx-0">
			<img src="img/geobet-cover.png" class="w-full shadow-lg rounded-lg" alt="GEOBET" />
		</a>
		<a href="/projects/sitamate" class="mx-auto transform transition-all hover:scale-105 md:mx-0">
			<img src="img/sitamate-cover.png" class="w-full shadow-lg rounded-lg" alt="SitaMate" />
		</a>
		<a href="/projects/banner-ultra-2" class="mx-auto transform transition-all hover:scale-105 md:mx-0">
			<img src="img/banner-cover.png" class="w-full shadow-lg rounded-lg" alt="Banner Ultra 2.0" />
		</a>
		<a href="/projects/cosmos" class="mx-auto transform transition-all hover:scale-105 md:mx-0">
			<img src="img/cosmos-cover.png" class="w-full shadow-lg rounded-lg" alt="Cosmos" />
		</a>
		<a href="/projects/brmity" class="mx-auto transform transition-all hover:scale-105 md:mx-0">
			<img src="img/brmity-cover.png" class="w-full shadow-lg rounded-lg" alt="BRMity" />
		</a>
	</div>
</div>

<div class="bg-slate-50 mx-auto" id="clients">
	<div class="container py-16 md:py-20 mx-auto">
		<div class="mx-auto w-full sm:w-3/4 lg:w-full">
			<h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
				My latest clients
			</h2>
			<div class="flex flex-wrap items-center justify-center pt-4 sm:pt-4">
				<span class="m-8 block">
					<img src="img/logo-svrel.png" alt="SVREL" class="mx-auto block h-12 w-auto" />
				</span>
				<span class="m-8 block">
					<img src="img/logo-sita.png" alt="SITA" class="mx-auto block h-12 w-auto" />
				</span>

				<span class="m-8 block">
					<img src="img/logo-nmia.png" alt="KIN" class="mx-auto block h-12 w-auto" />
				</span>

				<span class="m-8 block">
					<img src="img/logo-mbj.png" alt="MBJ" class="mx-auto block h-12 w-auto" />
				</span>

				<span class="m-8 block">
					<img src="img/logo-miami.png" alt="MIA" class="mx-auto block h-12 w-auto" />
				</span>

				<span class="m-8 block">
					<img src="img/logo-brmity.png" alt="BRMity" class="mx-auto block h-12 w-auto" />
				</span>
			</div>
		</div>
	</div>
</div>