<div class="container py-16 md:py-20 mx-auto" id="project-details">
  <h2 class="text-center font-header text-xl font-semibold uppercase text-primary sm:text-3xl lg:text-4xl">
    MBET Mobile Betting Top-up for Horse Racing
  </h2>
  <p class="text-center pt-6 font-medium text-black sm:text-lg lg:text-xl">
    MBET is a mobile application designed for horse racing enthusiasts to fund betting accounts so they can place bets conveniently from their smartphones.
  </p>

  <div class="relative mx-auto mt-12 flex w-full flex-col lg:w-2/3">
    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-1/2 p-4">
        <a href="/img/mbet-1.png" target="_blank">
          <img src="/img/mbet-cover.png"
            class="w-full h-80 object-cover shadow-lg rounded-lg transform transition-all hover:scale-105 cursor-pointer"
            alt="Betting Interface Screenshot" />
        </a>
      </div>
      <div class="md:w-1/2 p-4">
        <h3 class="font-header text-xl font-bold uppercase text-primary">Betting Interface</h3>
        <p class="mt-2 font-body text-black">
          The betting interface is user-friendly, allowing users to place bets easily with real-time odds and race information. The intuitive design ensures a smooth betting experience on mobile devices.
        </p>
      </div>
    </div>
  </div>
</div>
