<div class="container py-16 md:py-20 mx-auto" id="project-details">
  <h2
    class="text-center font-header text-xl font-semibold uppercase text-primary sm:text-3xl lg:text-4xl"
  >
    SitaMate Airport Resource Manager
  </h2>
  <p class="text-center pt-6 font-medium text-black sm:text-lg lg:text-xl">
    The SitaMate Airport Resource Manager is a comprehensive tool designed to manage various aspects of airport operations efficiently. It includes features for tracking boarding gates, managing node details, and monitoring consumables to maximize uptime.
  </p>

  <div class="relative mx-auto mt-12 flex w-full flex-col lg:w-2/3">
   <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-1/2 p-4">
        <a href="/img/sitamate-3.png" target="_blank">
          <img
            src="/img/sitamate-3.png"
            class="w-full h-80 object-cover shadow-lg rounded-lg transform transition-all hover:scale-105 cursor-pointer"
            alt="Consumables Tracker Screenshot"
          />
        </a>
      </div>
      <div class="md:w-1/2 p-4">
        <h3 class="font-header text-xl font-bold uppercase text-primary">
          Consumables Tracker
        </h3>
        <p class="mt-2 font-body text-black">
          The consumables tracker provides an overview of various consumables across different airport areas. It helps in monitoring stock levels and ensures timely replenishment to avoid any operational disruptions.
        </p>
      </div>
    </div>
    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-1/2 p-4">
        <a href="/img/sitamate-1.png" target="_blank">
          <img
            src="/img/sitamate-1.png"
            class="w-full h-80 object-cover shadow-lg rounded-lg transform transition-all hover:scale-105 cursor-pointer"
            alt="Boarding Gates Screenshot"
          />
        </a>
      </div>
      <div class="md:w-1/2 p-4">
        <h3 class="font-header text-xl font-bold uppercase text-primary">
          Real-time Usage Tracking
        </h3>
        <p class="mt-2 font-body text-black">
          Real-time tracking that provides detailed information on the status of node, including toner and paper levels. This ensures that all nodes are operational and have maximum uptime.
        </p>
      </div>
    </div>
    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-1/2 p-4">
        <a href="/img/sitamate-3.png" target="_blank">
          <img
            src="/img/sitamate-3.png"
            class="w-full h-80 object-cover shadow-lg rounded-lg transform transition-all hover:scale-105 cursor-pointer"
            alt="Node Manager Screenshot"
          />
        </a>
      </div>
      <div class="md:w-1/2 p-4">
        <h3 class="font-header text-xl font-bold uppercase text-primary">
          Node Manager
        </h3>
        <p class="mt-2 font-body text-black">
          The node manager section allows users to manage various nodes within the airport, including details such as node ID, location, type, and status. This helps in maintaining a well-organized network of airport resources.
        </p>
      </div>
    </div>
  </div>
</div>
