<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    {{!-- <link rel='stylesheet' href='/stylesheets/brand.css' /> --}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
